.shout{
    display: flex;
    justify-content: space-between;
    
    
}
#output{
        background-color: black;
        border: none;
        color: white;
        padding: 195px 142px;
        display: block;
        font-size: 26px;
        margin: 4px 2px;
        
      }
.inded{
        background-color: grey;
        color: grey;
        padding: 15px 62px;
        display: inline-block;
        font-size: 10px;
        margin: 2px 1px;
        border-radius: 10px;
      }
   .pot{
    text-align: center;
   }
.fest{
  width: 70%;
  height: 100px
}